<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Three idiots</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1><a href="{% url 'index' %}">Three idiots</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#team">Team</a></li>
<!--              <li class="drop-down"><a href="#">Deep Drop Dow</a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                </ul>-->
<!--              </li>-->
            </ul>
          </li>
          <li><a href="#description">Description</a></li>
          <li><a href="#visualizaiton">Visualizaiton</a></li>
<!--          <li><a href="#testimonials">Testimonials</a></li>-->
<!--          <li><a href="#signup">Sign up</a></li>-->



        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <center>
      <h1>Welcome to <span>T.I</span></h1>
      <h2>We recommend apparel size that fit your physical information</h2>

      {% if request.session.logininfo.id == None %}
      <!-- =======  Login div ======= -->
      <div class="container" id="login">
        <div class="row mt-5 justify-content-center">
          <div class="col-md-6">
            <form action="{% url 'loginimpl' %}" method="post" role="form" class="login-form">
               {% csrf_token %}
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <input type="text" name="id" class="form-control" id="loginid" placeholder="ID" data-rule="maxlen:10" data-msg="Please enter at most 10 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="password" class="form-control" name="pwd" id="loginpwd" placeholder="PASSWORD" data-rule="maxlen:15" data-msg="Please enter at most 15 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group"><input type="submit" value="LOGIN" class="btn-get-started scrollto"></div>

              </div>
              <h6 style="color:white">회원이 아니신가요? 회원 가입하시면 서비스를 이용하실 수 있습니다.</h6>
              <a href="#signup" class="btn-get-started scrollto">SIGN UP</a>
            </form>
          </div>
        </div>
      </div>
      {% else %}
        <h2>{{request.session.logininfo.name}}님 반갑습니다!</h2>
        <a href="{% url 'myinfo' %}" class="btn-get-started">내 정보 수정</a>
        <a href="{% url 'recommend' %} " class="btn-get-started scrollto" onclick="alert('분석중...약간의 시간이 소요됩니다')">내 사이즈 추천</a>
        <a href="{% url 'logout' %}" class="btn-get-started scrollto">LOGOUT</a>
      {% endif %}
<!--      <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
      </center>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>What We Do</h2>
          <p>AI Service Develop PJT</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Web Develop</a></h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Database Develop</a></h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Machine learning</a></h4>
              <p></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Project</h3>
            <p>
              체형에 따른 의류사이즈 데이터를 활용하여 분석 모델을 만들고, 이를 활용하여 데이터베이스에 입력된 고객 정보에 맞는 의류 사이즈를 추천한다.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> 최적의 머신러닝 모델을 찾아 고객정보에 맞는 사이즈를 추천한다.</li>
              <li><i class="bx bx-check-double"></i> 추천 사이즈에 맞는 의류를 해외 직구사이트 연결을 통해 보여준다.</li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>해외직구 사이트</h4>
                <p>MATCHESFASHION, Yuxx 에서 추천사이즈의 의류들을 볼 수 있습니다</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <i class="bx bx-cube-alt"></i>
                <h4>머신러닝 모델</h4>
                <p>최고의 정확도를 보여준 K-NN 모델을 사용하였습니다</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">effort <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">30.3%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30.3" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">4.5%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="4.5" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">44.2%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="44.2" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">20.0%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20.0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">PHP <i class="val">1.0%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="1.0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>



          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">13</span>
              <p>Happy Students</p>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">2</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">99</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">3</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Description Section ======= -->
    <section id="description" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Description</h2>
          <p>About the Machine Learning Process</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#knn">k-NN</a></h4>
              <p>기존 데이터 중 가장 가까운 k개의 데이터를 정보로 새로운 데이터를 분류하는 방법. k값 조정을 통해 정확도가 생각보다 많이(4.33%) 상승했습니다. ACC : 52.02%</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">SVM</a></h4>
              <p>주어진 데이터가 어느 카테고리에 속할지 판단하는 이진 선형 분류 모델. 데이터셋이 많아서인지 학습 속도가 너무 느려서 적합하지 않았습니다. ACC : 51.0%</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">Decision Tree</a></h4>
              <p> root에서부터 특정 기준(질문)에 따라 데이터를 구분하며 진행하여 최종 결정을 내리게 되는 모델. ACC : 50.83%</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">Random Forest</a></h4>
              <p>여러 Decision Tree가 모여 구성된 모델. Decision Tree들이 내린 예측 값들 중 가장 많이 나온 값을 최종 예측값으로 정하기 때문에 Decision Tree보다 나은 정확도를 얻은 것을 확인할 수 있습니다. ACC : 51.25%</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">Logistic Regression</a></h4>
              <p>종속 변수가 범주형 데이터를 대상으로 하며 입력 데이터가 주어졌을 때 해당 데이터의 결과가 특정 분류로 나뉘는 모델. ACC : 51.22%</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <i class="icofont-tasks-alt"></i>
              <h4><a href="#">Conclusion</a></h4>
              <p>Size라는 범주형 데이터를 사용하였기 때문에 분류(Classification) 모델을 사용했고, 그 중에서 정확도가 가장 높고 실행시간도 비교적 빠른 k-NN 모델을 채택했습니다</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Visualizaiton Section ======= -->
    <section id="visualizaiton" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Visualizaiton</h2>
          <p>Machine learning Visualization</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-analysis">Analysis</li>
              <li data-filter=".filter-heatmap">Heatmap</li>
              <li data-filter=".filter-scatterplot">Scatterplot</li>
              <li data-filter=".filter-accuracy">Accuracy</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-analysis wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/pre_agedensity.png" class="img-fluid" alt="">
                <a href="static/pre_agedensity.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Analysis 1</a></h4>
                <p>Analysis</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-analysis wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/pre_weightdensity.png" class="img-fluid" alt="">
                <a href="static/pre_weightdensity.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Analysis 2</a></h4>
                <p>Analysis</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-analysis wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/pre_heightdensity.png" class="img-fluid" alt="">
                <a href="static/pre_heightdensity.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Analysis 3</a></h4>
                <p>Analysis</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-heatmap wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/heatmap.png" class="img-fluid" alt="">
                <a href="static/heatmap.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Heatmap</a></h4>
                <p>Heatmap</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-scatterplot wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/pairplot.png" class="img-fluid" alt="">
                <a href="static/pairplot.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Scatterplot Matrix</a></h4>
                <p>Scatterplot</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-accuracy wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="static/accuracy.png" class="img-fluid" alt="">
                <a href="static/accuracy.png" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><i class="bx bx-plus"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Accuracy Comparison</a></h4>
                <p>ACCURACY</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Three idiots</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/assets/img/team/team-1.jpg" alt="">
              <h4>Nam seungju</h4>
              <span>Team leader</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-github"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/assets/img/team/team-2.jpg" alt="">
              <h4>Kim sori</h4>
              <span>Database Developer</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-github"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/assets/img/team/team-3.jpg" alt="">
              <h4>Cho woonki</h4>
              <span>Data Analysis</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-github"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

<!--     &lt;!&ndash; ======= Testimonials Section ======= &ndash;&gt;-->
<!--    <section id="testimonials" class="testimonials section-bg">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>Testimonials</h2>-->
<!--          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>-->
<!--        </div>-->

<!--        <div class="owl-carousel testimonials-carousel">-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Saul Goodman</h3>-->
<!--            <h4>Ceo &amp; Founder</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Sara Wilsson</h3>-->
<!--            <h4>Designer</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Jena Karlis</h3>-->
<!--            <h4>Store Owner</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
<!--            <h3>Matt Brandon</h3>-->
<!--            <h4>Freelancer</h4>-->
<!--          </div>-->

<!--          <div class="testimonial-item">-->
<!--            <p>-->
<!--              <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.-->
<!--              <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--            </p>-->
<!--            <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
<!--            <h3>John Larson</h3>-->
<!--            <h4>Entrepreneur</h4>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;-->


    <!-- ======= Signup Section ======= -->
    <section id="signup" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>SIGN UP</h2>
          <p>Become a member of us!</p>
        </div>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="{% url 'signupimpl' %}" method="post" role="form" class="sign-up-form">
               {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="id" class="form-control" id="id" placeholder="ID" data-rule="maxlen:10" data-msg="Please enter at most 10 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="password" class="form-control" name="pwd" id="pwd" placeholder="PASSWORD" data-rule="maxlen:15" data-msg="Please enter at most 15 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="NAME" data-rule="maxlen:10" data-msg="Please enter at most 10 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="number" class="form-control" name="age" id="age" placeholder="AGE" data-rule="required" data-msg="Please write something for us" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="number" name="wt" class="form-control" id="wt" placeholder="WEIGHT" data-rule="required" data-msg="Please write something for us" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="ht" id="ht" placeholder="HEIGHT" data-rule="required" data-msg="Please write down the height to one decimal place" />
                  <p> * 키는 소수점 1자리까지 기재하시기 바랍니다.</p>
                  <div class="validate"></div>
                </div>
              </div>
<!--              <div class="mb-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
              <div class="text-center"><input type="submit" class="btn-success" value="SIGN UP"></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Three idiots</h3>-->
<!--            <p>-->
<!--              Multicampus <br>-->
<!--              B class<br>-->
<!--              Group 2-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Made by <strong><span>Three idiots</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->

        </div>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>