<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We recommend your size</title>
    <style>
        body{
            background-image : url("{% static 'assets/img/의류일러스트.jpg' %}");
        }
        h1{
            background:black;
            color:white;
            text-align: center;
        }
        h2{
            background:black;
            color:white;
            text-align: center;
        }
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>사이즈 추천</h1>
    <h2>{{request.session.logininfo.name}}님의 추천사이즈는 "{{size}}"입니다.<br>
        아래 사이트를 누르시면 추천 사이즈에 맞는 의류를 확인할 수 있습니다.</h2>
    <div>
        <a href="{{mf}}"><img src="{% static 'img/mf.png' %}" style="width:300px;"></a>
        <a href="{{yoox}}"><img src="{% static 'img/yoox.png' %}" style="width:300px;"></a>
    </div>
    <h2><a href="{% url 'index' %}">Main Page로 돌아가기</a></h2>

</body>
</html>