<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                window.location.href = '{% url 'index' %}#signup'
            }, 2000);
        });
    </script>
    <style>
        body{
            background-image : url("{% static 'assets/img/about.jpg' %}");
            background-size : cover;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2><span style="background-color: white;">{{msg}}</span></h2>
    <h2><span style="background-color: white;">잠시 후 회원가입 페이지로 되돌아갑니다.</span></h2>
</body>
</html>